azure_storage_blob==12.24.1
rasterio==1.4.1
rio_cogeo==4.0.1
aiohttp==3.10.9
azure-servicebus==7.8.2
pmtiles==3.4.0
aiofile==3.8.8
azure-messaging-webpubsubclient==1.1.0
azure-messaging-webpubsubservice==1.2.1
